<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css"></link>
  <title>Ryfall</title>
</head>
<body>
  <section class="">
    <div class="container">
      <div id="app" class=""><!-- React --></div>
    </div>
  </section>
</body>
{% load static %}
<script src="{% static 'frontend/main.js' %}"></script>
</html>
